.header{
    text-align: center;
    color: #0a580a;
    margin: 0px;
    font-size: 100px;
	z-index: 1;
	text-align: center;
    color: transparent; 
    font-size: 100px;
    background: url('../../Paginaprincipal/Imgs/emerald\ block.jpg'); 
    -webkit-background-clip: text; 
    background-clip: text;
}
.descb{
    text-align: center;
    font-size: 25px;
    }
    html, body {
        margin: 0;
        padding: 0;
        font-family: 'Minecraft', sans-serif;
        height: 100%;
        width: 100%;
    }
    body {
        background-color: #9a662e;
        position: relative;
    }
    body::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../Paginaprincipal/Imgs/oak\ wall.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.2;
        z-index: -1;
    }
    /* TODO EL DIV DE PROPIEDADES */
    
    #propiedades{
        background-color: rgba(47, 26, 3, 0.7); /* Color de fondo opacado */
        padding: 20px;
        border-radius: 10px;
    }
.propiedad {
    display: flex;
    flex-direction: column;
}
.imgs {
    width: 40%; 
    border-radius: 20px;
    height: 340px;
    padding: 5px;
    position:relative;
    position: relative; left: 370px;
}
.titulo_casa{
    color: black; 
    font-size: 24px; 
    text-align: center;
}
.link{
    text-decoration: none;
    font-size: 20px;
    color: orange;
}